<div class="barra" id="menu-sticky" valor="1">
    <nav class="navbar navbar-dark justify-content-between navbar-expand-lg bg-transparent">
        <div class="container">
            <a href="/home" class="navbar-brand"><img src="../../../assets/img/PROPPER.svg" alt="Logo empresa"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav w-100 justify-content-end">
                    <li class="nav-item menu">
                        <a class="nav-link" href="#">About US</a>
                    </li>
                    <li class="nav-item menu">
                        <a class="nav-link" href="#">Tour and Experiences</a>
                    </li>
                    <li class="nav-item menu">
                        <a class="nav-link" href="#">Day Trips</a>
                    </li>
                    <li class="nav-item boton">
                        <a class="nav-link" href="#">You cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item redes">
                        <a class="nav-link" href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item redes">
                        <a class="nav-link" href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item redes">
                        <a class="nav-link" href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

