// Contenido Hero

.hero-cont-text {
	width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    /*  background-attachment: fixed;
    overflow: scroll;*/
}

.hero-aboutus {
	background-image: linear-gradient(
	     rgba(0, 0, 0, 0.4), 
	     rgba(0, 0, 0, 0.4)
	   ),
	url(../../../assets/img/pyramideDuLouvres.jpg); 
}